*,
*::before,
*::after {
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	margin-left: 0;
	margin-bottom: 0;
	Background-color: #29262c;
	height:100%;
	justify-content: center;
	display: flex;
	background-image: url('https://external-preview.redd.it/nwHxgDMv0AOIIM_GhqoPCYSUg2x2VWkVA8w59NlhAoY.jpg?auto=webp&s=b27c32dbca994d529ba98a368a1f40899aa91240');
	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
  	background-position: center bottom;
}

.row {
	display: flex;
	justify-content: flex-end;
}

#calculator {
	margin-left: 0.208333333in;
	margin-bottom: 0.208333333in;
	margin-right: 0.208333333in;
	margin-top: 0.208333333in;
	max-width: 400px;
	width: 100%;
	height: 100%;
	max-height: 400px;
	background-color: #967c6d;
	border-radius: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	background-image: url(./bgcalc.gif);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
	background-position: bottom ;
	transform: translate(-50%, -50%);
	-webkit-box-shadow:0px 0px 28px 3px rgba(45,255,196,0.71);
	-moz-box-shadow: 0px 0px 28px 3px rgba(45,255,196,0.71);
	box-shadow: 0px 0px 28px 3px rgba(45,255,196,0.71);
}

#calculator > #display{
	background-color: #382325;
	border-radius: 5px;
	max-width:340px;
	max-height:45px;
	width: 100%;
	height: 100%;
	margin-bottom: 19px;
	margin-left: 30px;
	margin-top: 28px;
	width: 100%;
	height: 100%;
	font-weight: 1000;
	text-align: right;
	font-size: 30px;
	color: rgb(235, 218, 72);
	background-image: url(gra.webp);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
  	background-position: center bottom;
	font-family: Poppins, sans-serif;
}

h1{
	 position:relative;
	 position:relative;
	 font-size:35px;
	 letter-spacing: 5px;
	 color:#7585dd ;
	 text-transform:uppercase;
	   text-align:center;
   
	 width:100%;
	text-shadow:0 0 10px #6a61e6,
	   0 0 10px #3b3b3b,
	   0 0 40px #424242,
	   0 0 80px #3f3f3f,
	   0 0 160px #777777;
	   font-weight: 700;
}

.button {
	font-family: Poppins, sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #d74742;
	max-height: 40px;
	max-width: 70px;
	width: 100%;
	height: 100%;
	border: none;
	border-radius:4px;
	padding: 1px 6px;
	justify-content: center;
	display: flex;
	align-items: center;
	transition: all 0.3s;
	background-color: rgba(216, 211, 187, 0.644);
}

.button:hover{
	max-width: 101%;
	max-height: 101%;
	height:42px;
	width:72px;
	-moz-box-shadow: 0 0 10px rgb(251, 255, 0);
	-webkit-box-shadow: 0 0 10px rgb(251, 255, 0);
	box-shadow: 0px 0px 10px rgb(187, 255, 0);
}

.button:active {
	background-color: #cccfb9;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

.button-wrapper{
	padding: 10px;
	flex-basis: 25%;
	height: 3.75pc;
	top: 100px;
	margin-left: 5px;
}

.clear, .equal{
	background-color: #923532;
	color: #fff;
}

.sike3{
	position:absolute;
	right:0;
	bottom:30px;
	margin-right:50px;
	margin-top:200px;
  }

  .sike{
	position:absolute;
	left:40px;
	margin-left:100px;
	bottom:30px;
  }